@using Microsoft.AspNetCore.Identity;
@inject UserManager<Core_WebProj.Models.ApplicationUser> UserManager
@{
    ViewData["Title"] = "Example";
    Layout = "~/Views/_MasterContent.cshtml";
}

<h1>Example</h1>

